{% comment %}
  Product description section for product pages.
  
  Usage:
  {% render 'product-description', product: product %}
  
  Parameters:
  - product: Product object (required)
{% endcomment %}

<!-- Product Description Section -->
<div class="px-4 md:px-32 py-8 border-t border-gray-300">
  <div class="prose prose-gray max-w-none">
    {{ product.description }}
  </div>
</div>
