<div id="productpage-ugc">
  <div class="yotpo yotpo-pictures-widget"
    data-product-id="{{ product.id }}"
    data-layout="carousel"
    data-auto-slide="0"
    data-title="1"
    data-title-text="PHOTOS FROM THE #biotrust COMMUNITY"
    data-title-color="#0D4F9A"
    data-title-alignment="center"
    data-title-font-size="16"
    data-title-font-weight="bold"
    data-title-mobile-font-size="14"
    data-hover-color="#ffffff"
    data-hover-opacity="0.8"
    data-hover-icon="true"
    data-upload-button="0">
  </div>
</div>
