{% comment %} LIVE Yotpo Widget ID {% endcomment %}
{% assign yotpo_widget_id = '3K2SShe8FNCWby39ocJrHbbGHnkcyAby9i3fFZEn' %}

{% comment %} STAGING Yotpo Widget ID {% endcomment %}
{% if shop.name != 'BioTRUST'  %}
  {% assign yotpo_widget_id = 'LghR0v050oAsWuIYy5lpTUXgZpqn0bIVVeZi6vgQ' %}
{% endif %}

{% assign yotpo_widget_js = "//staticw2.yotpo.com/" | append: yotpo_widget_id | append: "/widget.js" %}

<script src="{{ yotpo_widget_js }}" defer></script>

{% comment %} Override Yotpo h3 header font-size {% endcomment %}
<style>
  .yotpo-vugc-header {
    font-size: 16px !important;
  }  

  .yotpo-vugc-media-gallery-widget {
    width: auto !important;
  }

  .yotpo-vugc-header-text {
    text-align: center !important;
  }
</style>

<div class="yotpo yotpo-pictures-widget" data-gallery-id="64d2796a9f84433915c1f81f" data-product-id="{{ product.id }}"></div>